* {
    box-sizing: border-box;
}

/* Layout */
main {
    max-width: 75rem;
    margin: 0 auto;
}

/* General */
body {
    font-family: "Rokkitt", serif;
    margin: 0;
    background-color: #000;
    color: #444;
}

/* Header */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    background-color: #a6ff96;
    color: black;
}

header img {
    padding-right: 1rem;
}

/* Navigation */
nav {
    background-color: #ffa1fa;
    color: #520798;
}

nav ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.1rem;
}

nav a:hover {
    color: #a6ff96;
}

nav .active a {
    color: #520798;
    font-weight: bold;
}

/* Buttons */
nav button,
main button {
    font-family: "Rokkitt", serif;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    padding: 0.83rem 1rem;
    height: 48px;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
}

main button {
    background-image: linear-gradient(#ffa1fa, #f8ff9556);
    background-color: #ffa1fa;
    border: 3px solid #f8ff95;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.4s;
    color: #520798;
    margin: 0.6rem;
    padding: 0.6rem;
    font-weight: 900;
    width: 12rem;
    height: fit-content;
}

main button:hover {
    background-color: #ffa1fa;
    color: #f8ff95;
    border: 3px solid #000;
}

/* Main Content */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #520798;
    font-size: 40px;
}

main h2 {
    color: #a6ff96;
    margin-bottom: 0.2rem;
    border-bottom: solid #333;
    border-radius: 0.2rem;
}

main h3 {
    color: #ffa1fa;
    margin-bottom: 0px;
}

main ul {
    background-color: #111;
}

main ul li {
    color: #888;
    list-style-type: circle;
}

main a {
    color: #888;
    text-decoration: none;
}

main a:hover {
    color: #f8ff95;
}

main img {
    width: 100%;
    height: auto;
}

/*Photo Stuff*/



.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: .5rem;
    margin: auto;
}

div.gallery figure img {
    display: flex;
    width: 300px;
    height: auto;
}

div.gallery figure img:hover {
    box-shadow: 0px 0px 15px #f8ff9577;

}

div.gallery figcaption {
    text-align: justify;
    font-size: .8rem;
    color: #333;
    width: 300px;
}

div.gallery figcaption b {
    font-size: 1.5rem;
    color: #520798;

}



/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(51, 51, 51, 0.6);
}

.dropdown-content a {
    display: block;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: #ffa1fa;
}

.dropdown-content a:hover {
    background-color: rgba(51, 51, 51, 0.4);
    color: #a6ff96;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Form Stuff */
.myForm {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    width: auto;
    color: #333;
    height: auto;
}


.myForm fieldset {
    border: 1px solid #ffa1fa;
    border-radius: 3px;
    color: #333;
}

.myForm legend {
    color: #ffa1fa;
    font-size: 1.5rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #a6ff96;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Rokkitt", serif;
    font-weight: 200;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: #333;
    margin: 1rem;
    color: #a6ff96;
}

.myForm [type=submit] {
    font-family: "Rokkitt", serif;
    background-color: #a6ff96;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: #333;
    margin: 1rem;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        border-bottom: solid #333 .5px;

    }
}

@media only screen and (min-width: 601px) {
    nav ul {
        display: flex;
        justify-content: left;
    }
}

/* Table Stuff */
table.albums {
    width: 100%;
    border-collapse: collapse;
}

table.albums th {
    background-color: #520798;
    color: #a6ff96;
    padding: 1rem;
    text-align: left;
    text-wrap: nowrap;
    font-size: x-large;
}

table.albums tr:nth-child(odd) {
    background-color: #52079832;
}

table.albums tr:hover {
    background-color: #f8ff950e;
}

table.albums tr {
    color: #333;
    padding: .5rem;
}


/* Footer */
footer {
    background-color: #a6ff96;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
    color: #333;
    letter-spacing: 3px;
}