/* General Styles */
body {
    font-family: "Rockwell", sans-serif;
    margin: 0;
    background-color: #000;
}

/* Buttons */
button,
main button {
    font-family: "Rockwell", sans-serif;
    background-color: #ffa1fa;
    border: 15px solid #f8ff95;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    transition-duration: .4s;
    width: 200px;
    height: 200px;
    color: #520798;
    margin-bottom: .6rem;
    margin-left: .6rem;
}

button:hover,
main button:hover {
    background-color: #ffa1fa;
    color: #f8ff95;
    border: 3px solid #000;
}

/* Header */
header {
    padding: 1rem 10px;
    background-color: #a6ff96;
}

header h1,
header span {
    color: #520798;
}

header span {
    font-size: 3rem;
    font-weight: 700;
}

/* Navigation */
nav {
    background-color: #ffa1fa;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a,
nav .dropbtn {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #520798;
    font-weight: 700;
    border: none;
}

nav li.active a {
    background-color: #520798;
    color: #ffa1fa;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    color: #a6ff96;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
}

.dropdown-content a {
    color: #333;
    font-size: .8rem;
    padding: .5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333;
    color: #a6ff96;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* Main Content */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #520798;
    font-size: 40px;
}

main h2 {
    color: #a6ff96;
    margin-bottom: .2rem;
}

main h3 {
    color: #ffa1fa;
}

main p,
main strong,
main en,
main address,
main li,
main dt {
    color: #333;
}

main strong {
    font-weight: 700;
}

main en {
    font-weight: 300;
}

main address {
    font-style: normal;
    padding: .5rem;
}

main a {
    color: #a6ff96;
}

main a:hover {
    color: #333;
}

/* Footer */
footer {
    background-color: #a6ff96;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}